*
{
	box-sizing: border-box;
}

body
{
	padding: 10px
}

.info
{
	float: right;
	width: 70%;
}

.text
{
	width: 50%;
}

.head
{
	position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}